<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF=8">
        <meta name="viewport" content="width=device-width, initial=1.0">
        <title>Foodkit</title>
        <link rel="stylesheet" href="tyyli/tyyli.css">
        
    </head>
<body> 
    <nav>
        <ul>
            <li><a href="Foodkit.html">Etusivu</a></li>
            <li><a href="Reseptit.html">Reseptit</a></li>
            <li><a href="Yhteystiedot.html">Yhteystiedot</a></li>
        </ul>
    </nav>      
<div>
    <header>
        <h1>FOODKIT</h1>
            <h2>GO ON, GET YOUR FOODKIT OUT!</h2>
            
    </header>
</div>            

<hr>
 <div>
    <h3 id="1">Kaalisipulipiirakka</h3>
                                
    <table style="width: 40%; ;">
        <tr>
            <td>1 ½ – 2 kg</td>
            <td>kaalia</td>
        </tr>
        <tr>
            <td>2-3 rkl</td>
            <td>öljyä</td>
        </tr>
        <tr>
            <td>2-3</td>
            <td>sipulia</td>
        </tr>
        <tr>
            <td>1-2 </td>
            <td>porkkanaa</td>
        </tr>
        <tr>
            <td>1 dl</th>
            <td>siirappia</td>
        </tr>
        <tr>
            <td>1 tl</td>
            <td>mustapippuria</td>
        </tr>
        <tr>
            <td>1 rkl</td>
            <td>meirami</td>
        </tr>
        <tr>
            <td>2rkl</td>
            <td>etikkaa</td>
        </tr>
        
        <tr>
            <td>5 </td>
            <td>maitoa tai vettä</td>
        </tr>
        <tr>
            <td>25g </td>
            <td>hiivaa</td>
        </tr>
        <tr>
            <td>1 tl</td>
            <td>suolaa</td>
        </tr>
        <tr>
            <td>12-13 dl</td>
            <td>jauhoja</td>
        </tr>
        <tr>
            <td>150g</td>
            <td>voita</td>
        </tr>
        <tr>
            <td>1</td>
            <td>muna (voiteluun)</td>
        </tr>
        
        </table>                                  
        <p>
                        1. Valmista ensin täyte: Suikaloi kaali ja hienonna sipuli terävällä veitsellä.<br>
                        2. Raasta porkkanat karkeaksi raasteeksi.<br>
                        3. Kuumenna öljy tilavan teflonkattilan pohjalla ja hauduta siinä kaalia, sipulia  ja porkkanaraastetta 1/2 – 1 tuntia. <br>
                        Lisää tarvittaessa tilkka vettä kattilaan. Mausta kaali suolalla, siirapilla, pippurilla ja meiramilla. <br>
                        Lisää vielä tilkka etikkaa. Anna täytteen jäähtyä.<br>
         
                        4. Valmista piirakkataikina: Liuota hiiva ja suola kädenlämpöiseen nesteeseen.<br>
                        5. Vaivaa suurin osa jauhoista hyvin taikinaan, samoin pehmeä rasva.<br>
                        6. Lisää loput jauhot. Anna taikinan kohota peitettynä lämpimässä paikassa.<br>
                            
                        7. Jaa taikina kahteen osaan ja kaaviloi tai taputtele käsin toinen pala leivinpaperin päällä uunipellin kokoiseksi levyksi.<br>
                        8. Nosta taikinalevy pellille. Nostele kaalitäyte levylle ja levitä niin, että reunoille jää pari senttiä tyhjää.<br>
                        9. Kaaviloi tai taputtele käsin  toinen puoli taikinasta toisen leivinpaperin päällä täytteen kokoiseksi levyksi <br>
                        (hiukan pienempi kuin alalevy). Nosta levy leivinpaperin avulla täytteen päälle. Ota paperi pois. Nosta alalevyn tyhjät reunat ylös. <br>
                        Painele sauma haarukan piikeillä tiiviiksi.
                        Voitele levy munalla ja pistele haarukalla.<br>
                        10. Paista piirakka kauniin ruskeaksi 225°C uunin alatasolla 20 – 30 minuuttia.<br>               
        </p>   
        <div>
        
            <button class="button"
                onclick="scrollToTop()">
            Sivun alkuun
            
                <div class="button__horizontal"></div>
                <div class="button__vertical"></div>
            
            </button>
            
            <script>
                function scrollToTop(){
                window.scrollTo({top : 0, behavior :"smooth"});
                }
            </script>

        </div>             
    </div>   

<hr>
    
 <div>
        <h3 id="2">Lehtikaali - lohikeitto</h3>
          
        <table style="width: 40%;">
        <tr>
            <td>4</td>
            <td>perunaa</td>
        </tr>
        <tr>
            <td>1 (n.350g)</td>
            <td>fenkoli</td>
        </tr>
        <tr>
            <td>1</td>
            <td>sipulia</td>
        </tr>
        <tr>
            <td>1</td>
            <td>valkosipulinkynsi</td>
        </tr>
        <tr>
            <td>1 rkl</td>
            <td>öljyä</td>
        </tr>
        <tr>
            <td>n.9 dl </td>
            <td>vettä</td>
        </tr>
        <tr>
            <td>1 tl</td>
            <td>suolaa</td>
        </tr>
        <tr>
            <td>2</td>
            <td>laakerinlehteä</td>
        </tr>
        <tr>
            <td>1/2 tl </td>
            <td>mustapippuria</td>
        </tr>
        <tr>
            <td>2 rkl</td>
            <td>sitruunamehua</td>
        </tr>
        <tr>
            <td>1 tl</td>
            <td>sitruunan raastettua kuorta</td>
        </tr>
        <tr>
            <td>300g</td>
            <td>kirjolohifilettä</td>
        </tr>
        <tr>
            <td>2rkl </td>
            <td>kapriksia</td>
        </tr>
        <tr>
            <td>70g</td>
            <td>lehtikaalia</td>
        </tr>
        <tr>
            <td></td>
            <td>lisäksi piparjuurituorejuustoa</td>
        </tr>
        
        </table>
        
        <p>
        
        1. Kuori ja paloittele perunat, Viipaloi fenkoli, kuorittu sipuli ja valkosipulinkynsi. Kuullota kasvikset kattilassa rasvassa. <br>
        2. Kaada kattilaan vesi. Lisää suola, laakerinlehdet ja mustapippuri. Keitä noin 15 minuuttia.<br>
        3. Poista kirjolohifileestä nahka ja leikkaa kala reiluiksi paloiksi. Mausta kalat suolalla ja nosta ne keiton pinnalle.<br>
        4. Poista lehtikaaleista isot lehtiruodit ja suikaloi lehdet. Lisää ne keittoon. <br>
            (Jos käytät pienilehtistä lehtikaalia, voit vain repiä tai suikaloida lehdet.) <br>
        5. Lisää lehtikaalit, sitruunanmehu ja kaprikset kattilaan. Hauduta noin 5 minuuttia, kunnes kala on kypsää. Tarkista keiton maku.<br>
        Tarjoa keitto nokareella piparjuurituorejuustoa.<br>
        
        </p>   
            <div>
            <button class="button"
              onclick="scrollToTop()">
            Sivun alkuun
            
              <div class="button__horizontal"></div>
              <div class="button__vertical"></div>
            
            </button>
          
            <script>
              function scrollToTop(){
                window.scrollTo({top : 0, behavior :"smooth"});
              }
            </script>
            </div>
    </div>

<hr> 
    
    <div>
    <h3 id="3">Maa-artisokkalaatikko</h3>
  
    
        <table style="width: 40%;">
            <tr>
                <td>500g </td>
                <td>maa-artisokkaa</td>
            </tr>
            <tr>
                <td>1 tl</td>
                <td>suolaa</td>
            </tr>
            <tr>
                <td>1 tl</td>
                <td>mustapippuria</td>
            </tr>
            <tr>
                <td>2</td>
                <td>kananmunaa</td>
            </tr>
            <tr>
                <td>2 dl</td>
                <td>ranskankermaa</td>
            </tr>
        </table>
         
        <p>
        1. Kuori sileämmät maa-artisokat ja keitä ne vedessä. Keitä epätasaisemmat maa-artisokat kuorineen ja kuori ne keitettyinä. <br>
            Kypsymisaika on 5-15 minuuttia. Kokeile kypsymistä jokaisen maa-artisokan kohdalla erikseen tikulla pistäen. Kypsä maa-artisokka on pehmeä. <br>
            Ylikypsänä se halkeaa herkästi.<br>
        2. Soseuta kypsät maa-artisokat esimerkiksi monitoimikoneessa. Lisää joukkoon mausteet, munat ja ranskankerma. Sekoita tasaiseksi.<br>
        3. Kaada voideltuun uunivuokaan ja paista 175 asteessa noin 40 minuuttia.<br>

        </p>   
        <div>
            <button class="button"
              onclick="scrollToTop()">
            Sivun alkuun
            
              <div class="button__horizontal"></div>
              <div class="button__vertical"></div>
            
            </button>
          
            <script>
              function scrollToTop(){
                window.scrollTo({top : 0, behavior :"smooth"});
              }
            </script>
        </div>
    </div>

<hr>

    <div>
        <h3 id="4"> Meksikolainen papupaistos</h3>

  
        <table style="width: 40%;">
            <tr>
                <td>1tlk</td>
                <td>pintopapuja</td>
            </tr>
            <tr>
                <td>1 prk</td>
                <td>mustapapuja</td>
            </tr>
            <tr>
                <td>1/2 </td>
                <td>purjoa</td>
            </tr>
            <tr>
                <td>2</td>
                <td>tomaattia</td>
            </tr>
            <tr>
                <td>1 tlk</td>
                <td>valkoisia papuja tomaattikastikkeessa</td>
            </tr>
            <tr>
                <td>1 prk</td>
                <td>cheddar-sulatejuustoa</td>
            </tr>
            <tr>
                <td>3</td>
                <td>valkosipulinkynttä</td>
            </tr>
            <tr>
                <td>1/2 tl</td>
                <td>mustapippuria</td>
            </tr>
            <tr>
                <td>1/2 tl </td>
                <td>suolaa</td>
            </tr>
            <tr>
                <td>2 rkl</td>
                <td>sitruunamehua</td>
            </tr>
            <tr>
                <td>100g</td>
                <td>nachoja murskattuna</td>
            </tr>
            <tr>
                <td>100g</td>
                <td>texmex-juustoraastetta</td>
            </tr>
        
        </table>
        
        <p>     
        1. Huuhtele pinto- ja mustapavut siivilässä juoksevalla kylmällä vedellä. Jätä valumaan.<br>
        2. Hienonna puhdistettu purjo. Kuutioi tomaatit.<br>
        3. Kaada pavut tomaattikastikkeessa kattilaan. Sekoita joukkoon purjo, tomaatit, pinto- ja mustapavut ja sulatejuusto.
        Mausta hienonnetulla valkosipulilla, mustapippurilla ja suolalla. Anna kiehua ilman kantta 10 min. Lisää sitrusmehu.<br>
        4. Levitä puolet nachoista (voit murentaa niitä hieman pienemmiksi paloiksi) uunivuoan (n. 30 x 20 cm) pohjalle. Kaada päälle papumuhennos.<br>
        5. Ripottele pinnalle loput, kevyesti murskatut nachot ja juustoraaste. Kypsennä uunin keskiosassa 225 asteessa 15 min.
        Nosta paistamisen loppuvaiheessa hetkeksi uunin yläosaan kauniin paistopinnan saamiseksi.<br>
        
        Tarjoa lisukeruokana paistetun lihan, kalan tai broilerin kanssa tai pääruokana guacamolen, tomaattisalsan ja smetanan kanssa.
    
        </p>  
        
            <div>
                <button class="button"
                  onclick="scrollToTop()">
                Sivun alkuun
                
                  <div class="button__horizontal"></div>
                  <div class="button__vertical"></div>
                
                </button>
              
                <script>
                  function scrollToTop(){
                    window.scrollTo({top : 0, behavior :"smooth"});
                  }
                </script>
            </div>
        </div> 

<hr>
    <div>
        <h3 id="5">Paistettu riisi tofulla</h3>
        
    
        <table style="width: 40%;">
            <tr>
                <td>3dl</td>
                <td>pitkäjyväistä riisiä</td>
            </tr>
            <tr>
                <td>1 pkt</td>
                <td>maustamatonta tofua</td>
            </tr>
            <tr>
                <td>1 rkl </td>
                <td>öljyä</td>
            </tr>
            <tr>
                <td>1</td>
                <td>sipuli</td>
            </tr>
            <tr>
                <td>2</td>
                <td>valkosipulinkynsiä</td>
            </tr>
            <tr>
                <td>2</td>
                <td>porkkanaa</td>
            </tr>
            <tr>
                <td>3</td>
                <td>kevätsipulin vartta</td>
            </tr>
            <tr>
                <td>1 1/2 dl</td>
                <td>herneitä</td>
            </tr>
                <td> </td>
                <th>Marinadi tofulle</th>
            </tr>
            <tr>
                <td>3 rkl</td>
                <td>soijakastiketta</td>
            </tr>
            <tr>
                <td>1 rkl</td>
                <td>crunchy - maapähkinävoita</td>
            </tr>
            <tr>
                <td>1 tl </td>
                <td>inkivääriä</td>
            </tr>
            <td> 1 </td>
            <td>valkosipulinkynsi</td>
            </tr>
            <tr>
                <td>3 rkl</td>
                <td>soijakastiketta</td>
            </tr>
            <tr>
                <td>2 tl</td>
                <td>ruokosokeria</td>
            </tr>
            <tr>
                <td> </td>
                <td>kuorittuja seesaminsiemeniä</td>
            </tr>
        </table>
   
                    <p>1 Keitä riisi pakkauksen ohjeen mukaan. Anna jäähtyä kylmäksi,
                    mielellään jääkaappikylmäksi.
                    <p>2. Poista tofu pakkauksesta ja kääri se hetkeksi
                    talouspaperiin. Sekoita marinadin ainekset keskenään.
                    Kuutioi tofu ja sekoita marinadin joukkoon.
                    <p>3. Kuori ja hienonna sipuli sekä valkosipulinkynnet. Kuori
                    ja leikkaa porkkana pieniksi kuutioiksi. Suikaloi
                    kevätsipuli.
                    <p>4. Ota tofu pois marinadista, säästä marinadi. Paista
                    tofukuutiot kuumalla pannulla öljyssä. Siirrä
                    ruskistuneet tofukuutiot sivuun.
                    <p>5 Lisää öljyä kuumalle pannulle ja kuullota siinä sipulit,
                    valkosipulit, porkkanat sekä herneet. Anna paistua pari
                    minuuttia. Lisää riisi ja paista, kunnes se on kuumaa.
                    Ripottele pinnalle seesaminsiemeniä ja hienonnettu
                    kevätsipuli. Tarjoa lisäksi srirachaa.
    
        <div>
            <button class="button"
              onclick="scrollToTop()">
            Sivun alkuun
            
              <div class="button__horizontal"></div>
              <div class="button__vertical"></div>
            
            </button>
          
          
            <script>
              function scrollToTop(){
                window.scrollTo({top : 0, behavior :"smooth"});
              }
            </script>
        </div>
    </div>

<hr>

    <div>
        <h3 id="6">Paistetut mustajuuret ja fenkoli-kaalicoleslaw</h3>
      
            <table style="width: 40%;">
                <tr>
                    <td>600g</td>
                    <td>mustajuurta</td>
                </tr>
                <tr>
                    <td>1/2 </td>
                    <td>iso sitruuna</td>
                </tr>
                <tr>
                    <td>1/rkl  </td>
                    <td>oliiviöljyä</td>
                </tr>
                <tr>
                    <td>ripaus</td>
                    <td>sormisuolaa</td>
                </tr>
                <tr>
                    <td>75g</td>
                    <td>voita</td>
                </tr>
                <tr>
                    <td>2rkl</td>
                    <td>raastettua piparjuurta</td>
                </tr>
                </tr>
                    <td> </td>
                    <th>Fenkoli-kaalislaw</th>
                </tr> 
                <tr>
                    <td>1</td>
                    <td>fenkoli</td>
                </tr>
                <tr>
                    <td>100g </td>
                    <td>lehtikaalia</td>
                
                <tr>
                    <td>1/2 </td>
                    <td>sitruuna</td>
                </tr>
                <tr>
                    <td>2 rkl</td>
                    <td>oliiviöljyä</td>
                </tr>
                <tr>
                    <td>2rkl </td> 
                    <td>majoneesia</td>
                </tr>
                    <td> ripaus </td>
                    <td>sormisuolaa </td>
                <tr>
                    <td>1/2 dl </td>
                    <td> hienonnettua tilliä</td>
                </tr>
        
            </table> 
                        
                        
                    <p>1. Kuori mustajuuret ja leikkaa kah­teen osaan. Nostele leivinpaperoi­dulle uunipellille, pirskota päälle sitruunamehua ja oliiviöljy.
                         Mausta suolalla. Paahda 225 asteessa 20 mi­nuuttia.
                    <p>2. Valmista salaatti. Poista fenko­lista kova kanta. Halkaise ja höylää se mandoliinilla ohuiksi viipaleiksi. Säästä tupsut.
                        Huuhdo lehtikaalin lehdet ja riivi lehdet irti keskiruodis­ta. Hienonna lehtikaalit. Nosta fenkoli ja lehtikaali kulhoon. 
                    <p>3. Purista sitruunamehu lasipurkkiin. Lisää purkkiin öljy, majoneesi ja suola. Ravistata­ saiseksi kastikkeeksi. 
                    <p>4. Kaada salaatin joukkoon, sekoita ja anna salaatin maustua ja pehmentyä 10 minuuttia ennen tarjoilua. 
                    <p>5. Hienonna tilli sekä fenkolin tupsut ja sekoita ne lopuksi salaatin joukkoon.
                    <p>6. Sulata voi pikkukattilassa. Kuu­menna, kunnes voi muuttuu kullan­ ruskeaksi ja tuoksuu pähkinäiseltä. 
                        Siirrä kattila heti syrjään, jotta voi ei ehdi palaa. 
                    <p>7. Kuori pinnalta vaahto. Raasta joukkoon piparjuuri.
                        Nosta tarjoilulautasille keko salaattia ja nosta reunalle mustajuuret. Valuta mustajuurien päälle ruskistettua piparjuurivoita.
                        
                    </p>   
                <div>
                    <button class="button"
                      onclick="scrollToTop()">
                    Sivun alkuun
                    
                      <div class="button__horizontal"></div>
                      <div class="button__vertical"></div>
                    
                    </button>
                  
                  
                    <script>
                      function scrollToTop(){
                        window.scrollTo({top : 0, behavior :"smooth"});
                      }
                    </script>
                </div>
            </div>
        
<hr>

            <div>
            
                    <h3 id="7">Ruusukaali-jauhelihapata</h3>
                            <table style="width: 40%;">
                                <tr>
                                    <td>2 rkl</td>
                                    <td>öljyä</td>
                                </tr>
                                <tr>
                                    <td>400g </td>
                                    <td>jauhelihaa</td>
                                </tr>
                                <tr>
                                    <td>400g </td>
                                    <td>ruusukaalia</td>
                                </tr>
                                <tr>
                                    <td>1</td>
                                    <td>sipuli hienonnettuna</td>
                                </tr>
                                <tr>
                                    <td>2</td>
                                    <td>valkosipulinkynttä hienonnettuna</td>
                                </tr>
                                <tr>
                                    <td>2tl</td>
                                    <td>timjamia</td>
                                </tr>
                                
                                <tr>
                                    <td></td>
                                    <td>suolaa</td>
                                </tr>
                                <tr>
                                    <td> </td>
                                    <td>mustapippuria</td>
                                </tr>
                                <tr>
                                    <td>ripaus</td>
                                    <td>chilijauhetta</td>
                                </tr>
                                <tr>
                                    <td>1 rkl</td>
                                    <td>hunajaa</td>
                                </tr>
                                <tr>
                                    <td>2 dl </td>
                                    <td>tomaattimurskaa</td>
                                </tr>
                                <tr>
                                    <td>2dl  </td> 
                                    <td>kermaa</td>
                                </tr>
                     
                            </table> 
                        <p>1. Huuhtele ruusukaalit. Leikkaa pieni pala kannasta pois ja poista uloimmat lehdet.
                        <p>2. Laita öljy paistinpannulle ja kuumenna pannu. Ruskista jauheliha. 
                        <p>3. Lisää ruusukaalit, sipuli, mausteet, tomaattimurska sekä kerma.
                        <p>4. Anna hautua miedolla lämmöllä, kannen alla noin 20 minuuttia, kunnes ruusukaalit ovat kypsiä.
                        
                        <p> Nauti perunoiden tai riisin ja raikkaan vihreän salaatin kanssa.
                 
                        <div>
                            <button class="button"
                              onclick="scrollToTop()">
                            Sivun alkuun
                            
                              <div class="button__horizontal"></div>
                              <div class="button__vertical"></div>
                            
                            </button>
                          
                            <script>
                              function scrollToTop(){
                                window.scrollTo({top : 0, behavior :"smooth"});
                              }
                            </script>
                          </div>
            </div>      
               
<hr>

    <div>

        <a href="Foodkit.html">Etusivu</a>
        <a href="Yhteystiedot.html"> Yhteystiedot </a>
    
    </div>
</body>
</html>
