<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF=8">
        <meta name="viewport" content="width=device-width, initial=1.0">
        <title>Foodkit</title>
        <link rel="stylesheet" href="tyyli/tyyli.css">
    </head>
    <body>
      <nav>
        <ul>
            <li><a href="Foodkit.html">Etusivu</a></li>
            <li><a href="Reseptit.html">Reseptit</a></li>
            <li><a href="Yhteystiedot.html">Yhteystiedot</a></li>
        </ul>
      </nav>

        <h1>FOODKIT</h1>
        <h2>GO ON, GET YOUR FOODKIT OUT!</h2>
        <h4>Salkun täydeltä reseptejä arkeen ja juhlaan</h4>
  
      <hr>
      <main>
        <h2>Yhteystiedot</h2>
        <h4>Emppu</h4>
        <h4>elwallin@gmail.com</h4>
      </main>
      <hr>
      <section>
        <h2>Vinkkivideoita</h2>
        <h4>Pikasämpylät</h4>
        <iframe width="560" height="315" src="https://www.youtube.com/embed/KYQ4PolW4K0" title="YouTube video player" frameborder="0" 
        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
        <h4>Pitsapannari</h4>
        <iframe width="560" height="315" src="https://www.youtube.com/embed/QQmrLNQZAHI" title="YouTube video player" frameborder="0" 
        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
        <h4>Karjalanpiirakka</h4>
        <iframe width="560" height="315" src="https://www.youtube.com/embed/Mh9vnnpheUg" title="YouTube video player" frameborder="0" 
        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>

      </section>
      <hr>

        <a href="Foodkit.html">Etusivu</a>
        <a href="Reseptit.html">Reseptit</a>
    </body>


</html>
